.header__link {
  width: 143px;
  height: 33px;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.header__link:hover {
  opacity: 0.5;
}

@media screen and (max-width: 425px) {
  .header__link  {
    margin-left: 27px;
    width: 103.74px;
    height: 24.4px;
  }
}
