.popup__form {
  margin: 0 auto;
  padding: 35px 0;
  width: 83.25%;
  display: flex;
  flex-flow: column;
  color: #000;
}

@media screen and (max-width: 500px) {
  .popup__form {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
