.elements {
  margin: 50px auto 0;
  justify-content: center;
  width: 88.125%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  column-gap: 17px;
  row-gap: 20px;
}

@media screen and (min-width: 1280px) {
  .elements {
    width: 68.75%;
  }
}

@media screen and (max-width: 425px) {
  .elements {
    margin-top: 36px;
  }
}
