.elements {
  margin: 50px auto 0;
  justify-content: center;
  width: 88.125%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 17px;
}

@media screen and (min-width: 1280px) {
  .elements {
    width: 68.75%;
  }
}

@media screen and (max-width: 659px) {
  .elements {
    grid-template-columns: repeat(auto-fit, minmax(282px, 400px));
  }
}
