.profile__info {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) 25px;
  grid-template-rows: min-content min-content;
  grid-template-areas:
    "header addbutton"
    "profiletext profiletext";
  column-gap: 18px;
  justify-content: center;
  align-items: center;
}
